{% extends 'base.html' %}
{%block content%}
<h1>Profil</h1>
<p>Nom d'utilisateur: {{user.username}}</p>
<p>Nom: {{user.first_name}}</p>
<p>Prenom: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>
<a href="{% url 'user:user_update' pk=user.id%}">Mettre a jour mes informations personnelles</a><br>
<a href="{% url 'user:password_update' pk=user.id%}">Changer de mot de passe</a><br>
{% if user.is_createur%}
<a href="#">Devenir simple internaute</a>
{%else%}
<a href="#">Devenir Bloggeur</a>
{%endif%}
{%endblock%}