{% extends 'base.html' %}

{% block content %}
<section id="blog" class="flex items-center justify-center">

<div class="flex flex-wrap ">
{% for article in articles %}
<div class="space-x-4 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-teal-500 dark:border-gray-700 dark:hover:bg-gray-700 py-2 px-3 mb-3 ml-2 mr-2 mt-3">
    <a href="{% url 'blog:detail' slug=article.slug %}">
       {%if article.image%}
         <img class="h-48 w-full object-cover md:h-48 md:w-full" width="200" height="200" src="{{article.image.url}}">
         {%endif%}

    </a>
    <div class="p-5">
        <a href="{% url 'blog:detail' slug=article.slug %}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ article.title }}</h5>
        </a>
        {%if article.author == user%}
            <a href="{% url 'blog:edit' slug=article.slug%}">Modifier</a>
            <a href="{% url 'blog:delete' slug=article.slug%}">Supprimer</a>
        {%endif%}
        <p class="mb-3 font-normal text-black dark:text-black">{{ article.contenu|truncatewords:20}}</p>
        <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="/img/jonathan.jpg" alt="Avatar of Author">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">{{ article.author }}</p>
        <p class="text-gray-600">{{ article.date_pub|date:'j F Y' }}</p>
      </div>
        <a href="{% url 'blog:detail' slug=article.slug %}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
  </div>
</div>
{% empty %}
      <div class="text-gray-900 font-bold text-xl mb-2">Pas d'article</div>
{%endfor%}
</div>
</section>
{% endblock %}