{% extends 'base.html' %}


{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
        <h5 class="flex items-center justify-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-dark ">{{ article.title }}</h5><br>
         <strong class="text-secondary">{{ article.author }} | {{ article.date_pub|date:'j F Y' }}  | {{likes }} Like{{likes|pluralize }}</strong>
        <p class="text-xl font-normal text-gray-900 dark:text-white">{{article.contenu|linebreaks|safe }}</p><br>
        {%if article.date_pub != article.date_mod%}
            <p>Mise a jour: {{article.date_mod|date:'j F Y'}}</p>
        {% endif %}

        {%include 'blogs/detailmore.html'%}
                            

{% endblock %}