<!DOCTYPE html>
{% load static%}
{% load tailwind_tags %}
{%load crispy_forms_tags %} 
<html>
<head>
	{% tailwind_css %}
	<link rel="stylesheet" href="{% static 'utilisateur/css/style.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%} {%endblock%}</title>
</head>
<body>
	{%include 'nav.html'%}
		
		
	
		<section class="content">
		{%block content%} {%endblock%}
		</section>
	
		<a href="{% url 'blog:email' %}"> Share this post </a>
		<footer>
        	<p class=" text-sm text-center">Copyright © 2022 <span class="font-semibold">SuperBlog</span>
            All Rights Reserved</p>
    	</footer>

	</body>
</html>