<!DOCTYPE html>
{% load static%}
<html>
<head>
	<link rel="stylesheet" href="{% static 'utilisateur/css/style.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%} {%endblock%}</title>
</head>
<body>
	<header>
		<h1>SuperBlog</h1>

		{% if user.is_authenticated%}
			<p>Vous etes connecte en tant que {{request.user}}. <a href="{% url 'user:logout'%}">Se deconnecter</a></p>
		{%else%}
			<p><a href="{% url 'user:login'%}">Connectez-vous</a></p>
		{%endif%}

		{%if user.is_authenticated and user.is_createur%}
			<nav>
				<a href="{% url 'blog:add' %}">Ajouter un article</a>
			</nav>
		{%endif%}
		
	</header>
	
	<section id="blog">
		{%block content%} {%endblock%}
	</section>
	

	<footer>
		<p>Contatez nous:</p>
		
	</footer>

</body>
</html>