<!DOCTYPE html>
{% load static%}
{% load tailwind_tags %}
{%load crispy_forms_tags %} 
<html>
<head>
	{% tailwind_css %}
	<link rel="stylesheet" href="{% static 'utilisateur/css/style.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%} {%endblock%}</title>
</head>
<body class="bg-gray-50 font-serif leading-normal tracking-normal">
	<div class="container mx-auto">
		
		{%include 'nav.html'%}
	
		<section id="blog" class="flex items-center justify-center h-screen">
		{%block content%} {%endblock%}
		</section>
	

		<footer class="border-t py-4">
        	<p class=" text-sm text-center">Copyright © 2022 <span class="font-semibold">SuperBlog</span>
            All Rights Reserved</p>
    	</footer>

	</body>
</html>