<ul class="flex bg-blue-400 items-center justify-center">
  <li class="mr-3">
    <p class="inline-block text-yellow-900 py-1 px-3">SuperBlog</p>
  </li>
  <li class="mr-3">
    <!--Home-->
    <a class="inline-block border border-white rounded hover:border-gray-200 text-white hover:bg-gray-200 py-1 px-3" href="{% url 'blog:home'%}"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg></a>
  </li>
  {%if user.role == "BLOGGEUR"%}
  <li class="mr-3">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-white hover:bg-gray-200 py-1 px-3" href="{% url 'blog:mesArticles'%}">Mes articles</a>
  </li>
  <li class="mr-3">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-white hover:bg-gray-200 py-1 px-3" href="{%url 'blog:brouillons'%}">Mes brouillons</a>
  </li>
  <li class="mr-3">
    <!--Ajouter un article-->
    <a class="inline-block border border-white rounded hover:border-gray-200 text-white hover:bg-gray-200 py-1 px-3" href="{%url 'blog:add'%}"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg></a>

  </li>
  {%endif%}

{% if user.is_authenticated%}
<li class="mr-3">
    <!--Les enregistrements-->
    <a class="inline-block border border-white rounded hover:border-gray-200 text-white hover:bg-gray-200 py-1 px-3" href="{%url 'blog:save'%}"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg></a>
</li>
{%endif%}
<li class="mr-3">
	<div class="relative lg:ml-auto hidden lg:block py-1 px-3">
            	<form id="searchform" action="{% url 'blog:search' %}" method="get" accept-charset="utf-8">
                <span class="absolute left-3 top-2 text-sm text-gray-500">
                    <i class="fas fa-search"></i>
                </span>
                <input type="text" name="q" id="searchbox" 
                    class="block w-full shadow-sm border-none rounded-3xl  pl-11 pr-2 py-2 focus:outline-none bg-gray-50 text-sm text-gray-700 placeholder-gray-500"
                    placeholder="Search">
</li>
<!--li class="mr-3">
      <button class="searchbutton" type="submit">
           <i class="fa fa-search">Search</i>
      </button>
</li-->
                </form>
            </div>

	{% if user.is_authenticated%}
        <li class="mr-3">
          <a href="{%url 'user:profil'%}" class="inline-block">{%if user.profile_photo%}
         <img width="25" height="25" src="{{user.profile_photo.url}}">
{%else%}<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>{%endif%}{{request.user}}</a>
        </li>
        <li class="mr-3">
          <!--Logout-->
          <a href="{% url 'user:logout'%}" class="inline-block"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg></a>
        </li>
			
			{%else%}
      <!--Login-->
			<li class="mr-3">	
	                <a href="{% url 'user:login'%}" class="inline-block"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
	           </li>
	        {%endif%}
</ul>

